.navbar {
    background-color: #343a40;
    color: #fff;
    border-bottom: 1px solid #ccc auto;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-toggler {
    background-color: #ffffff00;
  }
  
  .navbar-toggler-icon {
    background-color: #868686;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  